@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    font-family: 'Arial', sans-serif;
    background: url('bg.svg') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-top: 200px;
  }

h1 {
    color: #ffffff; 
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 60px;
}

.TOSp {
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 20px;
    max-width: 600px; 
    line-height: 1.5; 
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 35px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    background-image: radial-gradient(circle at 100% 0%, rgba(94, 138, 243, 1) 15%, rgba(243, 61, 223, 1));
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.error-icon img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}