body {
    font-family: 'Outfit'; 
    background: url('../CSS/bg.svg') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

#form-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #1e1e1e; 
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    margin: 50px auto;
    position: relative; 
    margin-bottom: 60px;
    opacity: 0.8;
}

#form-image {
    height: 520px;
    object-fit: cover; 
    max-width: 450px;
    margin-right: 50px;
    border-radius: 10px;
    object-position: right;
}

#formhead {
    position: absolute;
    top: 7%;
    right: 105px;
    font-size: 40px; 
    color: #ffffff;
    background-color: rgba(30, 30, 30, 0.8); 
    padding: 10px;
    border-radius: 5px;
}

#registrationform {
    flex: 1;
    max-width: 500px;
    margin-top: 120px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group-names input{
    width: 445px;
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    background-color: #2e2e2e;
    height: 29px;
    color: #ffffff
}


#email, #password {
    width: 445px;
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    background-color: #2e2e2e;
    height: 29px;
    color: #ffffff; 

}
input:-webkit-autofill {
    color: #ffffff !important;
    box-shadow: 0 0 0px 1000px #2e2e2e inset !important;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    color: #ffffff;
    border-color: #70186d; 
}

#country {
    width: 466px;
    padding: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    background-color: #2e2e2e;
    height: 50px;
    color: white;
}

.form-row input::placeholder {
    color: white;
}

#submit-button {
    width: 465px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #6a0dad;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

#submit-button:hover {
    background-color: #5a0c9d;
}

#TOS {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #6a0dad; 
}

.TOS-text{
    margin-top: 20px;
    font-size: 16px;
    color: white;
    margin-top: 2px;
    margin-left: 15px;

}
.form-row-TOS {
    display: flex;
}

.TOS-text a {
    text-decoration: none;
}
.TOS-text a:hover {
    text-decoration: underline;
}
#login {
    display: flex;
    color: #ffffff;}
#login a {
    margin-left: 10px; 
    text-decoration: none;
}

#login a:hover {
    text-decoration: underline; 
}



