body {
  margin: 0;
  padding: 20px 0; 
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  background-color:  #1C1C1F;
  min-height: 100vh;
  color: #eeeeee;
  overflow-y: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;  
  animation: scrollBackground 60s linear infinite;  
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.Head {
  width: 90%;             
  max-width: 1200px;     
  margin: 0 auto;       
  margin-bottom: 20px;   
  margin-top: 60px; 
}
.navbar {
  width: 100%;
  background: #31313C;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  margin-top: -20px;
  margin-bottom: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.1);
}

.ranked-data {
  width: 200%;
  text-align: center;
}

.rank_icon {
  height: 150px; 
  width: 150px;
  margin-bottom: 1em;
}

.stat {
  font-size: 1.2em; 
  margin: 0.5em 0;
}

h3 {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 25px;
}

h4 {
  font-size: 50px;
  text-align: right;
  margin-left: auto;
  margin-top: 70px;
  margin-right: 25px;
}

.profile_icon {
  width: 100px;             
  height: 100px;
  margin-left: 20px;

}

h5 {
  font-size: 40px;
  text-align: center;
}

.item-3 {
  flex: 0.5;
  height: 350px;
  padding: 1em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start; 
  margin-bottom: 20px;
}

.item {
  width: 250px;
  height: 150px;
  background-color: #31313C;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  border: 5px solid var(--clr-accent);

}

.item-1 {
  flex: 1.5;
}

.item-2 {
  flex: 0.5;
  height: 350px;
  padding: 1em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-0 {
  width: 1200px;
  flex: 1.5;
  margin-top: -50px;  
  display: flex;         
  align-items: center;   
  text-align: center;    
  height: 150px;  
}

.item-4 {
  flex: 1.5;
  margin-top: 20px;

}

.wins {
  color: #32de84;
}

.losses {
  color: #E52B50;
}
.winrate {
  color: #7B7A8E;
  margin-bottom: 50px;
}
h2 {
  margin-top: auto;
  margin-bottom: auto;
  
}
/*AAAAAAAAAAAAAAAAAAAAAAAAA */
.match-container {
  margin-top: 15px;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.match {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #31313C; 
  border-radius: 15px;
}

.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-section, .middle-section, .right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* VSETKO V LAVO */

.left-section {
  align-items: flex-start;
}
.champ-icon {
  width: 85px;
  height: 85px;
  background-color: #777;
}

.summoner-spells {
  display: flex;
  gap: 5px;
}

.spell {
  width: 40px;
  height: 40px;
  background-color: #999;
  border-radius: 5px;
}

.runes {
  display: flex;
  gap: 5px;
}

.rune-main.win, .rune-secondary.win {
  width: 40px;
  height: 40px;
  background-color: #4171D6;
  border-radius: 50%;
}
.rune-main.loss, .rune-secondary.loss{
  width: 40px;
  height: 40px;
  background-color: #59343B;;
  border-radius: 50%;
}


/* STRED */
.middle-section {
  flex: 1;
  text-align: left;
  padding-left: 25px;

}


.match-item {
  width: 40px; 
  height: 40px;
  background-color: gray;
  border: 2px solid #666;
}

.items {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.kda, .kda-calculation, .cs-kp {
  font-size: 24px;
}

/* V PRAVO */
.right-section {
  align-items: flex-end;
  border: 5px red solid;
}

.match-time{
  padding-top: 130px;
  text-align: center;
}
.queue-info { 
  font-size: 16px;
  text-align: center;
}

.match.win {

  background-color: #4171D6;
}

.match.loss {
  background-color: #59343B;;
}
html {
  transform: scale(0.8); /* Scales the entire page to 70% */
  transform-origin: top center;
}



