@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
    font-family: 'Arial', sans-serif;
    background: url('bg.svg') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.searchmenu {
  width: 65%;
}

h1 {
    color: #ffffff; 
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 55px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-inline {
    display: flex;
    justify-content: center;
    gap: 0px; /* Add gap between elements */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e0e0e0; 
}

input[type="text"],
select,
input[type="submit"] {
    padding: 15px;
    border: 1px solid #444; 
    font-size: 16px;
    background-color: #333; 
    color: #ffffff;
    border-radius: 0; /* Remove border-radius to make them look like a single element */
}

input[type="text"] {
    flex: 2;
    border-top-left-radius: 35px; /* Rounded left corners */
    border-bottom-left-radius: 35px; /* Rounded left corners */
}

select {
  flex: 1;
  border-top-right-radius: 0px; /* Rounded right corners */
  border-bottom-right-radius: 0px; /* Rounded right corners */
  border-left: none; /* Remove left border to merge with input */
}

input[type="submit"] {
    flex: 1;
    border-top-right-radius: 35px; /* Rounded right corners */
    border-bottom-right-radius: 35px; /* Rounded right corners */
    border-left: none; /* Remove left border to merge with select */
    cursor: pointer;
    background-image: radial-gradient(circle at 100% 0%, rgba(94, 138, 243, 1) 15%, rgba(243, 61, 223, 1));
    transition: 0.3s;
}

input[type="submit"]:hover {
    opacity: .5;
}

#choose_region {
    padding: 15px;
    border: 1px solid #444; 
    font-size: 16px;
    background-color: #333; 
    color: #ffffff;
}


.frontimage {
  width: auto;
  height: 250px;
  margin-bottom: 0px; /* Add some space between the image and the form */
  margin-left: 700px;
 /* width: auto;
  height: 350px;
  margin-bottom: 0px; /* Add some space between the image and the form 
  margin-left: 440px;*/
}

.image {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: auto;
  padding-top: 90px;
  padding-right: 800px;
}

.fronttitle{
  position: absolute;
  z-index: -2;
  width: 700px;
  height: auto;
  padding-bottom: 300px;
  padding-right: 20px;

}

